.settings {
    background-color: white;
    flex: 1;
  }
  
  .settings-content{
    padding: 81px 65px;
  }
  
  .gen-settings {
    font-weight: 500;
    font-size: 24px;
    text-decoration-line: underline;
    width: 191px;
    height: 29px;
    line-height: 29px;
    text-underline-position: under;
    
  }
  
  .content {
    width: 100%;
    line-height: 19px;
    margin-top: 33px;
  }
  
  
  .header { 
    font-weight: 500;
    margin-bottom: 10px;
  }
  
  .input {
    font-weight: 400;
    font-size: 16px;
    width: 350px;
    max-width: 100%;
    padding: 15px 15px;
    border: 1px solid #D2DAE3;
    border-radius: 8px;
  
    resize: none;
    overflow: hidden;
    margin-bottom: 0px;
  }
  
  .text{
    padding-top: 15px;
    padding-left: 15px;
    padding-bottom: 36px;
  }