@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');

*{
  font-family: 'Inter', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

.page {
  min-height: 100vh;
  display: flex;
  /* max-width: 100%; */
}

/* POPUP */
.display {

  background-color: #585B68;
  display: flex;
  flex: 3;
  align-items: center;
  justify-content: center;
}

.bg {
  max-width: 1080px;
  width: 100%;
  background-image: url(./assets/image.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  min-height: 686px;

}



/* SUCCESS POPUP */





